@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */
:root {
	--black: #0a0a0b;
	--dark-blue: #252939;
	--blue: #215bf0;
	--blue-hover: #1d4dc8;
	--white: #ffffff;
	--white10: rgba(255, 255, 255, 0.3);
	--pink: #bb207b;
	--orange: #f15559;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	font-size: 62.5%;
	color: var(--dark-blue);
}

body {
	background: rgba(234, 234, 234, 0.1);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}
