.formContainer {
	display: flex;
	background-color: var(--dark-blue);
	border-radius: 10px;
	padding: 2rem;
	justify-content: space-between;
}

.selectContainer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 10px;
}

.selectContainer > * {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.selectContainer .input {
	width: inherit;
}

.walking {
	align-self: center;
}

.form {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	width: 400px;
	background-color: var(--dark-blue);
}

.form > h2,
.form > label {
	color: var(--white);
}

.title {
	font-size: 18px;
	text-align: center;
	font-weight: normal;
	margin-bottom: 1rem;
}

.input {
	color: var(--dark-blue);
	padding: 1rem;
	margin-bottom: 15px;
	border-radius: 5px;
	font-size: 14px;
	border: none;
}

.problema {
	outline: 2px solid #d0342c !important;
}

.input:focus {
	outline: 2px solid var(--blue);
}

/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.input[type="number"] {
	-moz-appearance: textfield;
}

.label {
	color: var(--white);
	font-size: 12px;
	margin-bottom: 0.3em;
}

.filter {
	font-size: 16px;
	background: var(--dark-blue);
}

.select {
	padding: 1rem;
	margin-bottom: 15px;
	border-radius: 4px;
	font-size: 14px;
	outline: none;
}

.select:focus {
	outline: 2px solid var(--blue);
}

.option {
	font-size: 14px;
	text-transform: capitalize;
}

.countriesContainer {
	display: flex;
	color: var(--white);
	gap: 15px;
	margin-bottom: 15px;
}

.countriesName {
	display: flex;
	align-items: center;
	color: var(--white);
}

.countriesName p {
	cursor: pointer;
	font-size: 12px;
	color: white;
	background: var(--blue-hover10);
	padding: 0.4em;
	border-radius: 5px;
	transition: filter 250ms ease;
}

.countriesName p:hover {
	filter: brightness(1.1);
}
