.formContainer {
	display: flex;
	background-color: var(--dark-blue);
	border-radius: 10px;
	padding: 2rem;
	justify-content: space-between;
}

.selectContainer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 10px;
}

.selectContainer > * {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.walking {
	align-self: center;
}

.form {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	width: 400px;
	background-color: var(--dark-blue);
}

.form > h2,
.form > label {
	color: var(--white);
}

.title {
	font-size: 18px;
	text-align: center;
	font-weight: normal;
	margin-bottom: 1rem;
}

.select {
	padding: 1rem;
	margin-bottom: 15px;
	border-radius: 4px;
	font-size: 14px;
	outline: none;
}

.select:focus {
	outline: 2px solid var(--blue);
}

.option {
	font-size: 14px;
	text-transform: capitalize;
}
