.filterContainer {
	width: 200px;
}
.radio {
	display: none;
}

.title {
	font-size: 16px;
	text-transform: capitalize;
}

.filter {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
}

.filterContent {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.label,
.resetFilters {
	font-size: 12px;
	padding: 0.4rem;
	margin: 1rem;
	text-transform: capitalize;
	border: 2px solid var(--blue);
	color: var(--blue);
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	transition: all 250ms ease;
}

.resetFilters {
	border: 2px solid var(--pink);
	background: var(--pink);
	color: var(--white);
}

.resetFilters:hover {
	background: var(--pink);
	color: var(--white);
}

.active {
	background: var(--blue);
	color: var(--white);
}
