.filterContainer {
	width: 200px;
}

.radio {
	display: none;
}

.title {
	color: var(--dark-blue);
	font-size: 16px;
	text-transform: capitalize;
}

.filter {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
}

.filterContent {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.label,
.resetFilters {
	font-size: 12px;
	padding: 0.6rem;
	margin: 0.4rem;
	text-transform: capitalize;
	border: 2px solid var(--blue);
	color: var(--blue);
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	transition: all 250ms ease;
}

.label:hover {
	background: var(--blue-hover10);
}

.resetFilters {
	border: 2px solid var(--pink);
	background: var(--pink);
	color: var(--white);
	transition: background 250ms ease;
}

.resetFilters:hover {
	background: var(--pink-hover);
}

.active {
	background: var(--blue);
	color: var(--white);
}

.active:hover {
	background: var(--blue-hover);
}
